.top-bar{
    margin-top: 10px;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    padding: 0 15px 0 15px;
    border-bottom: 1px solid black;
    position:fixed;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

}

@media screen and(max-width:600px) {
    .top-bar{
        display: flex;
        flex-wrap: wrap;
    }
}

/* .top-bar .row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
} */
.hero{
    /* background-image: url(../img/homebg.webp); */
    height: 400px;
    /* opacity: -03; */
    padding: 100px 10%;
}

quote{
    border-left: 5px orange solid;
    padding: 10px 25px;
    margin: 20px 0 20px 10px; 
    display: block;
}


